<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="ProjetoEmpregadoCliente">
  <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
  <property name="hibernate.connection.password">pis</property>
  <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
  <property name="hibernate.connection.username">pis</property>
  <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.use_sql_comments">true</property>
  <property name="hibernate.format_sql">true</property>
  <property name="hibernate.generate_statistics">true</property>
  <property name="hibernate.c3p0.idle_test_period">3000</property>
  <property name="hibernate.c3p0.max_size">20</property>
  <property name="hibernate.c3p0.max_statements">50</property>
  <property name="hibernate.c3p0.min_size">5</property>
  <property name="hibernate.c3p0.timeout">300</property>
  <property name="hibernate.current_session_context_class">thread</property>
  <mapping class="relacionamento.model.departamento.Departamento"/>
  <mapping class="relacionamento.model.projeto.Projeto"/>
  <mapping class="relacionamento.model.empregado.Empregado"/>
  <mapping class="relacionamento.model.cliente.Cliente"/>
  <mapping class="relacionamento.model.endereco.Endereco"/>
  <mapping class="relacionamento.model.acessoria.Acessoria"/>
 </session-factory>
</hibernate-configuration>
